@import "../../../../assets/base";
.coming-soon {
  margin-top: 100px;
  margin-bottom: 30px;
  &__heading {
    text-align: center;
    svg {
      font-size: 26px;
      color: $primary;
    }
    .sub-heading {
      font-size: 18px;
      color: $text-color;
      padding: 14px 0;
      font-weight: 600;
    }
    h4 {
      font-size: 50px;
      color: #000;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  .swiper-pagination {
    position: inherit;
    margin: 20px 0;
    .swiper-pagination-bullet-active {
      background-color: $primary;
    }
  }
}
