header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    flex: 1;
    img {
      width: 90%;
    }
  }
  .menu {
    list-style: none;
    margin-bottom: 0;
    justify-content: center;
    flex: 8;
    li {
      a {
        text-decoration: none;
        display: block;
        padding: 0 14px;
        color: #fff;
      }
    }
  }
  .header-right {
    a {
      color: #fff;
    }
    display: flex;
    justify-content: flex-end;
    flex: 1;
    color: #fff; 
    svg {
      font-size: 28px;
      margin-left: 14px;
    }
  }
}
